body {
  font-family: 'Futura', sans-serif;
  margin: 0;
  padding: 0;
}

.dark-theme {
  background-color: #36393f;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: 'Futura', sans-serif;
}

.button-google,
.button,
.signup-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 25px;
  background-color: #7289da;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Futura', sans-serif;
}

.button-google:hover,
.button:hover,
.signup-button:hover {
  background-color: #677bc4;
}

.form-group label {
  color: #fff;
  font-family: 'Futura', sans-serif;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-family: 'Futura', sans-serif;
}