body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.dark-theme {
  background-color: #36393f;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #fff;
}

.button-google, .signup-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 25px;
  background-color: #7289da;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-google:hover, .signup-button:hover {
  background-color: #677bc4;
}